__pycache__/
../static/
output/
output3/
input/
statistic/
static/
cache/
.idea/
.vscode/
.ipynb_checkpoints/
.DS_Store
training_results_record_A2C_global_aware.pickle

utils/*.txt
*.pickle
training_results_record